h1{
	border-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-image:url("assets/flowers.png");
	background-color: green;
	background-size: 100%;
}

h2{
	border-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 50px;
}

body{
	margin: 0px;
}

#opening{
	text-align: center;
	font-size: 30px;
	color: white;
	font-family: 'Libre Baskerville', serif;
}

#header{
	width: 100%;
}

#nav{
	padding-top: 7px;
	padding-bottom: 7px;
	background: #F0F8FF;
	font-size: 16px;
	text-align: center;
}

#intro{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	font-size: 19px;
	padding-bottom: 112px;
}

#linkedin{
	color: gray;
	padding-right: 5px;
}

#email{
	color: gray;
	padding-right: 5px;
}

#github{
	color: gray;
	padding-right: 5px;
}

#resume{
	color: gray;
	padding
}

#endeavors{
	background: #F0F8FF;
	font-size: 20px;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
}

#blurb{
	font-size: 19px;
	font-weight: normal;
}

#summer20{
	display: block;
	margin: auto;
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 50px;
	font-size: 19px;
	font-weight: bold;
	align: center;
}

#microsoft_intern{
	width: 300px;
	padding-right: 30px;
	align: center;
}

#ghc19{
	display: block;
	margin: auto;
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 150px;
	font-size: 19px;
	font-weight: bold;
	align: center;
}

#ghc{
	width: 300px;
	padding-left: 30px;
	align: center;
}

#summer19{
	display: block;
	margin: auto;
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 50px;
	font-size: 19px;
	font-weight: bold;
	align: center;
}

#microsoft{
	width: 300px;
	padding-right: 30px;
	align: center;
}

#summer18{
	display: block;
	margin: auto;
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 150px;
	font-size: 19px;
	font-weight: bold;
	align: center;
}

#nysc{
	width: 300px;
	padding-left: 30px;
	align: center;
}

#summer17{
	display: block;
	margin: auto;
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 150px;
	font-size: 19px;
	font-weight: bold;
	align: center;
}

#expedia{
	width: 300px;
	padding-right: 30px;
	align: center;
}

#summer16{
	display: block;
	margin: auto;
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 150px;
	font-size: 19px;
	font-weight: bold;
	align: center;
}

#gwc1{
	width: 300px;
	padding-left: 30px;
	align: center;
}

#gwc{
	display: block;
	margin: auto;
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 150px;
	padding-bottom: 170px;
	font-size: 19px;
	font-weight: bold;
	align: center;
}

#gwcclub{
	width: 300px;
	padding-right: 30px;
	align: center;
}

#footer{
	padding-top: 0.1px;
	padding-bottom: 0.1px;
	padding-left: 5px;
	background: #F0F8FF;
	font-size: 16px;
}

#profile {
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 5px;
	width: 303px;
	height: 200px;
	display: inline-block;
}

#book_img{
	width: 15%;
	margin-left: 20%;
}

#movie_img{
	width: 15%;
	margin-left: 20%;
}

#podcast_img{
	width: 15%;
	margin-left: 20%;
}

#baking_img{
	width: 15%;
	margin-left: 20%;
}

#songs_img{
	width: 15%;
	margin-left: 20%;
}

#favorite{
	font-size: 18px;
	margin-left: 35%;
	margin-right: 20%;
}

#nav a{
	text-decoration: none;
	font-size:22px;
	color: #4682B4;
	padding-right: 15px;
	padding-left: 15px;
}

#nav a:hover{
	text-decoration: underline;
}

#nav a:active{
	text-decoration: underline;
}


responsive{
	align-content: center;
}

#proj_description{
	font-size: 15px;
	font-weight: normal;
	text-transform: none;
}

.clearfix:after {
  content: "";
  display: flex;
  clear: both;

}


#rig {
    max-width:900px;
    margin:200 auto; /*center aligned*/
    padding: 0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color:#000;
	align-self: center;
	justify-items: center;
	align-items: center;
}
#rig li {
	display: inline-block;
    width:25%;
	height: 25%;
    vertical-align: middle;
    box-sizing: border-box;
    margin:0;
		padding: 0;
}

#name{
	color: #4682B4;
	font-size: 18px;
	font-weight: bold;
}

.underline-on-hover:hover {
	text-decoration: underline;
}

/* The wrapper for each item */
.rig-cell {
    margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);
    display:block;
    position: relative;
    overflow:hidden;
}

/* image layer */
.rig-img {
    display:block;
    width: 100%;
	height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}

#rig li:onclick .rig-img {
    transform:scale(1.05);
}

/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
	background: #646363 no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0s;
}

#rig li:hover .rig-overlay {
    opacity:0.8;
}

#rig li:onclick .rig-overlay {
    opacity:0.8;
}

/* captions */
.rig-text {
    display:block;
    padding:0 10px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    top:6%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all 0s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

#rig li:onclick .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 9000px) {
    #rig li {
        width:23.5%;
    }
}

@media (max-width: 1000px) {
	#proj_description{
		font-size: 12px;
		font-weight: normal;
		text-transform: none;
	}

	/* captions */
	.rig-text {
			display:block;
			padding:0 5px;
			box-sizing:border-box;
			position:absolute;
			left:0;
			width:100%;
			text-align:center;
			text-transform:capitalize;
			font-size:15px;
			font-weight:bold;
			font-family: 'Oswald', sans-serif;
			top:6%;
			color:white;
			opacity:0;
			filter:alpha(opacity=0);/*For older IE*/
			transform:translateY(-20px);
			transition:all .3s;
	}

	#book_img{
		width: 20%;
		margin-left: 10%;
	}

	#movie_img{
		width: 20%;
		margin-left: 10%;
	}

	#podcast_img{
		width: 20%;
		margin-left: 10%;
	}

	#baking_img{
		width: 20%;
		margin-left: 10%;
	}

	#songs_img{
		width: 20%;
		margin-left: 10%;
	}

	#favorite{
		margin-left: 30%;
		margin-right: 10%;
		font-size: 15px;
	}
}

@media (max-width: 700px) {
	#proj_description{
		font-size: 12px;
		font-weight: normal;
		text-transform: none;
	}

	/* captions */
	.rig-text {
			display:block;
			padding:0 5px;
			box-sizing:border-box;
			position:absolute;
			left:0;
			width:100%;
			text-align:center;
			text-transform:capitalize;
			font-size:15px;
			font-weight:bold;
			font-family: 'Oswald', sans-serif;
			top:6%;
			color:white;
			opacity:0;
			filter:alpha(opacity=0);/*For older IE*/
			transform:translateY(-20px);
			transition:all .3s;
	}
    #rig li {
        width:31%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:47%;
    }
}

@media (max-width: 300px) {
    #rig li {
        width:95%;
    }
}

@media only screen and (max-width: 300px) {
    #rig li {
        width:95%;
    }
}

@media only screen
and (max-device-width: 600px) {
	#rig li {
			width:47%;
	}
	h1{
		border-top: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 20px;
		padding-bottom: 20px;
		background-image:url("assets/flowers.png");*/
		background-color: green;
		background-size: 100%;
	}

	body{
		margin: 0px;
	}

	#opening{
		text-align: center;
		font-size: 50px;
		color: white;
		font-family: 'Libre Baskerville', serif;
	}

	#header{
		width: 100%;
	}
	#intro{
			font-size: 45px;
			padding-bottom: 60px;
	}
	#nav a{
		text-decoration: none;
		font-size:50px;
		color: #4682B4;
		padding-right: 15px;
		padding-left: 15px;
	}

	#nav a:hover{
		text-decoration: underline;
	}

	#nav a:active{
		text-decoration: underline;
	}

	responsive{
		align-content: center;
	}

	.clearfix:after {
	  content: "";
	  display: flex;
	  clear: both;

	}

	#linkedin{
		color: gray;
		padding-right: 10px;
	}

	#email{
		color: gray;
		padding-right: 10px;
	}

	#github{
		color: gray;
	}

	#endeavors{
		margin-top: 10%;
		margin-bottom: 10%;
		background: #F0F8FF;
		font-size: 35px;
		text-align: center;
		padding-top: 4px;
		padding-bottom: 4px;
	}

	#blurb{
		font-size: 35px;
		font-weight: normal;
		text-align: center;
	}

	#summer20{
		display: block;
		margin: auto;
		padding-left: 5%;
		padding-right: 5%;
		margin-top: 50px;
		font-size: 20px;
		font-weight: bold;
		align: center;
	}

	#microsoft_intern{
		width: 100%;
		margin-bottom: 5%;
		align: center;
	}

	#ghc19{
		display: block;
		margin: auto;
		padding-left: 5%;
		padding-right: 5%;
		margin-top: 50px;
		font-size: 20px;
		font-weight: bold;
		align: center;
	}

	#ghc{
		width: 100%;
		margin-bottom: 5%;
		align: center;
	}

	#summer19{
		display: block;
		margin: auto;
		padding-left: 5%;
		padding-right: 5%;
		margin-top: 50px;
		font-size: 20px;
		font-weight: bold;
		align: center;
	}

	#microsoft{
		width: 100%;
		margin-bottom: 5%;
		align: center;
	}

	#summer18{
		display: block;
		margin: auto;
		padding-left: 5%;
		padding-right: 5%;
		margin-top: 200px;
		font-size: 20px;
		font-weight: bold;
		align: center;
	}

	#nysc{
		width: 100%;
		margin-bottom: 5%;
		align: center;
	}

	#summer17{
		display: block;
		margin: auto;
		padding-left: 5%;
		padding-right: 5%;
		margin-top: 200px;
		font-size: 20px;
		font-weight: bold;
		align: center;
	}

	#expedia{
		width: 100%;
		margin-bottom: 5%;
		align: center;
	}

	#summer16{
		display: block;
		margin: auto;
		padding-left: 5%;
		padding-right: 5%;
		margin-top: 200px;
		font-size: 20px;
		font-weight: bold;
		align: center;
	}

	#gwc1{
		width: 100%;
		margin-bottom: 5%;
		align: center;
	}

	#gwc{
		display: block;
		margin: auto;
		padding-left: 5%;
		padding-right: 5%;
		margin-top: 200px;
		padding-bottom: 170px;
		font-size: 20px;
		font-weight: bold;
		align: center;
	}

	#gwcclub{
		width: 100%;
		margin-bottom: 5%;
		align: center;
	}

	#footer{
		padding-top: 0.1px;
		padding-bottom: 0.1px;
		padding-left: 5px;
		background: #F0F8FF;
		font-size: 25px;
	}

	#profile {
		width: 70%;
		height: 70%;
		margin-left: 15%;
		margin-right: 15%;
		margin-bottom: 5%;
		align-items: center;
	}

	#introduction{
		font-size: 45px;
	}

	.rig-text {
	    display:block;
	    padding:0 20px;
	    box-sizing:border-box;
	    position:absolute;
	    left:0;
	    width:100%;
	    text-align:center;
	    text-transform:capitalize;
	    font-size:30px;
	    font-weight:bold;
	    font-family: 'Oswald', sans-serif;
	    top:8%;
	    color:white;
	    opacity:0;
	    filter:alpha(opacity=0);/*For older IE*/
	    transform:translateY(-20px);
	    transition:all .3s;
	}

	#rig li:onclick .rig-overlay {
	    opacity:0.8;
	}

	#proj_description{
		font-size: 28px;
		font-weight: normal;
		text-transform: none;
	}

	#name{
		font-size: 40px;
	}

	#book_img{
		width: 30%;
		margin-left: 8%;
	}

	#movie_img{
		width: 30%;
		margin-left: 8%;
	}

	#podcast_img{
		width: 30%;
		margin-left: 8%;
	}

	#baking_img{
		width: 30%;
		margin-left: 8%;
	}

	#songs_img{
		width: 30%;
		margin-left: 8%;
	}

	#favorite{
		margin-left: 38%;
		margin-right: 8%;
		font-size: 35px;
	}

	#resume{
		width: 100%;
	}

	.underline-on-hover:hover {
		text-decoration: underline;
	}
}
