h1{
	/*color: #484848;*/
	border-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	/*height: 300px;
	margin-bottom: 20px;*/
	background-image:url("assets/flowers_new.png");*/
	background-color: green;
	background-size: 100%;
}

body{
	margin: 0px;
}

#opening{
	text-align: center;
	font-size: 30px;
	color: white;
	/*font-family: 'Charm', cursive;*/
	font-family: 'Libre Baskerville', serif;
	/*font-family: 'Dancing Script', cursive;
	font-family: 'Crete Round', serif;
	font-family: 'Alegreya', serif;
	font-family: 'Merienda', cursive;*/
	/*text-shadow: 2px 2px 4px #000000;*/
}

#header{
	width: 100%;
}

#nav{
	/*padding-left: 25px;
	padding-right: 300px;*/
	padding-top: 7px;
	padding-bottom: 7px;
	/*background: #D3D3D3;*/
	background: #F0F8FF;
	font-size: 16px;
	text-align: center;
}

#intro{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	font-size: 20px;
	padding-bottom: 110px;
	/*color: #181818;*/
}

#linkedin{
	color: gray;
	padding-right: 5px;
}

#email{
	color: gray;
	padding-right: 5px;
}

#github{
	color: gray;
}

#endeavors{
	background: #F0F8FF;
	font-size: 20px;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
}

#blurb{
	font-size: 19px;
	font-weight: normal;
}

#summer19{
	display: block;
	margin: auto;
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 50px;
	font-size: 19px;
	font-weight: bold;
	align: center;
}

#microsoft{
	width: 300px;
	padding-right: 30px;
	align: center;
	padding-bottom: 20px;
}

#summer18{
	display: block;
	margin: auto;
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 200px;
	font-size: 19px;
	font-weight: bold;
	align: center;
}

#nysc{
	width: 300px;
	padding-left: 30px;
	align: center;
}

#summer17{
	display: block;
	margin: auto;
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 200px;
	font-size: 19px;
	font-weight: bold;
	align: center;
}

#expedia{
	width: 300px;
	padding-right: 30px;
	align: center;
}

#summer16{
	display: block;
	margin: auto;
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 200px;
	font-size: 19px;
	font-weight: bold;
	align: center;
}

#gwc1{
	width: 300px;
	padding-left: 30px;
	align: center;
}

#gwc{
	display: block;
	margin: auto;
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 200px;
	padding-bottom: 170px;
	font-size: 19px;
	font-weight: bold;
	align: center;
}

#gwcclub{
	width: 300px;
	padding-right: 30px;
	align: center;
}

#footer{
	padding-top: 0.1px;
	padding-bottom: 0.1px;
	padding-left: 5px;
	background: #F0F8FF;
	font-size: 16px;
}

#profile {
	/*top: 200px;
	left: 100px;*/
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 5px;
	width: 303px;
	height: 200px;
	/*width: 26%;
	height: 26%;*/
	display: inline-block;
}

#nav a{
	text-decoration: none;
	font-size:22px;
	/*color: #99ceff;*/
	color: #4682B4;
	padding-right: 15px;
	padding-left: 15px;
}

#nav a:hover{
	text-decoration: underline;
}

#nav a:active{
	text-decoration: underline;
}


responsive{
	align-content: center;
}

.clearfix:after {
  content: "";
  display: flex;
  clear: both;

}

}

#rig {
    max-width:900px;
    margin:200 auto; /*center aligned*/
    padding: 0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color:#000;
    align-self: center;
    justify-items: center;
    align-items: center;
}
#rig li {
    display: inline-block;
    width:25%;
    height: 25%;
    vertical-align: middle;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

/* The wrapper for each item */
.rig-cell {
    margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);
    display:block;
    position: relative;
    overflow:hidden;
}

/* image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}

/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #3DC0F1 url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}

#rig li:hover .rig-overlay {
    opacity:0.8;
}

/* captions */
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    font-weight:normal!important;
    top:40%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 9000px) {
    #rig li {
        width:23.5%;
    }
}

@media (max-width: 700px) {
    #rig li {
        width:31%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:47%;
    }
}

@media (max-width: 300px) {
    #rig li {
        width:95%;
    }
}

@media only screen and (max-width: 300px) {
    #rig li {
        width:95%;
    }
}

@media only screen
and (max-device-width: 600px) {
    #rig li {
	width:95%;
    }
}
